<!DOCTYPE html>
<html>
  <head>
    <title>Suzhou hengyi Automation Co., Ltd.</title>
	   
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
 
      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
 <style type="text/css">
  .mycal{
  border:2px solid #0ba29a !important;
  }
  </style>
        <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="js/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="js/bootstrap.min.js"></script>
			<div class="container">
				<div class="row clearfix">
<div class="col-md-12 column hidden-md hidden-lg">				
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">Switch navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">菜鸟教程</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">iOS</a></li>
            <li><a href="#">SVN</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Java <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="#">另一个分离的链接</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>	
</div>			
					<div class="col-md-12 column hidden-xs hidden-sm">
						<div class="row clearfix">
							<div class="col-md-12 column">
							    <div class="input-group" style="float:right;padding-top:30px; ">
			                        <input style=" border-radius:5px;border:3px solid #0ba29a; height:42px;"type="text" class="form-control" placeholder="产品搜索">
								</div>
							</div>
						</div>
						<div class="row clearfix visible-md visible-lg" style="margin-bottom:20px;">
							<div class="col-md-3 column">
								<img alt="140x140" src="img/default3.{APP_PATH}statics/new/uploadData/"  style="height:60px;width:120px;">
							</div>
							<div class="col-md-9 column" >
								<ul class="nav nav-tabs" style="border-bottom:none;font-family:微软雅黑;font-size:16px;">
									<li  >
										 <a href="#" style="background-color:#0ba29a;color:#fff;">Home</a>
									</li>
									<li class="dropdown" >
										 <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="background-color:#fff;border:none;color:#0ba29a;" >About us</a>
										<ul class="dropdown-menu" style="border:none;">
											<li style="background-color:#0ba29a;margin-bottom:1px;">
												 <a href="#" style="background-color:#0ba29a;color:#fff;" >公司介绍</a>
											</li>
											<li style="background-color:#0ba29a;margin-bottom:1px;">
												 <a href="#" style="background-color:#0ba29a;color:#fff;">公司规模</a>
											</li>
											<li style="background-color:#0ba29a;">
												 <a href="#" style="background-color:#0ba29a;color:#fff;">合作伙伴</a>
											</li>
											
										</ul>
									</li>
									<li >
										 <a href="#" style="background-color:#fff;border:none;color:#0ba29a;">新闻中心</a>
									</li>
									<li >
										 <a href="#" style="background-color:#fff;border:none;color:#0ba29a;">产品中心</a>
									</li>
									<li >
										 <a href="#" style="background-color:#fff;border:none;color:#0ba29a;">人才招聘</a>
									</li>
									<li >
										 <a href="#" style="background-color:#fff;border:none;color:#0ba29a;">联系我们</a>
									</li>
									<li >
										 <a href="#" style="background-color:#fff;border:none;color:#0ba29a;">中文/英文</a>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
					     <div class="row clearfix" style="border-bottom:5px solid #0ba29a">
						 </div>
				</div>
				<div class="row clearfix">
				<div class="col-md-12 column" >
						<ul class="breadcrumb"style="background-color:#fff;padding-top:30px;" >
							<li>
								  Current position: <a href="javascript:history.go(-1)">Return</a> 
							
								 <a href="#"></a>
							</li>
							<li>
								 <a href="#" style="color:#0ba29a;">人才招聘</a>
							</li>
							<li class="active">
								职位简介
							</li>
						</ul>
						<hr style="height:1px;border:none;border-top:1px dashed #0ba29a;" />
					</div>
				                <div class="col-md-3 column">
							<div class="col-md-12 column">
								<ul class="list-group">
									<li class="list-group-item" style="border:none;font-family:微软雅黑;font-size:16px;margin-bottom:-20px;margin-top:30px;">职位简介</li>
									<li style="border:none;border:1px dashed #0ba29a;width:120px;margin-left:0px; list-style:none; ">&nbsp;</li>
									
									
								</ul>
							</div>
							<div class="col-md-12 column" style="margin-top:50px;">
							 <p>
									Suzhou hengyi Automation Co., Ltd.
								</p>
								<p>
									Address: Suzhou city Wujiang District cloud pear road 699 Building No. 7
								</p>
								<p>
									phone：025-66091685
								</p>
								<p>
									fax ：025-66091685
								</p>
								<p>
									Contact: Mr. Zhu  18512515806
								</p>
								<p>
									email：guanghai.zhu@lrmation.com 

								</p>
								<p>
									Website：http://www.lrmation.com
 

								</p>
							</div>
						</div>
									<div class="col-md-9 column" style="margin-top:50px;">
										
										<table class="table table-bordered"  style="border:2px solid #0ba29a;" >
											
											<thead>
												<tr style="background-color:#0ba29a;color:#fff;border:2px solid #0ba29a;">
													<th style="text-align:center;border:2px solid #0ba29a;">招聘职位</th>
													<th style="text-align:center;border:2px solid #0ba29a;">招聘人数</th>
													<th style="text-align:center;border:2px solid #0ba29a;">工作地点</th>
													<th style="text-align:center;border:2px solid #0ba29a;">职位介绍</th>
												</tr>
											</thead>
											<tbody>
											
												<tr>
													<td class="mycal" style="text-align:center;border:2px solid #0ba29a;">机械工程师</td>
													<td style="text-align:center;border:2px solid #0ba29a;">Bangalore</td>
													<td style="text-align:center;border:2px solid #0ba29a;">560001</td>
													<td style="color:#0ba29a;text-align:center;border:2px solid #0ba29a;"><a style="color:#0ba29a;">View the details</a></td>
												</tr>
												<tr>
													<td style="text-align:center;border:2px solid #0ba29a;">电气工程师</td>
													<td style="text-align:center;border:2px solid #0ba29a;">Mumbai</td>
													<td style="text-align:center;border:2px solid #0ba29a;">400003</td>
													<td style="color:#0ba29a;text-align:center;border:2px solid #0ba29a;"><a style="color:#0ba29a;">View the details</a></td>
												</tr>
												<tr>
													<td style="text-align:center;border:2px solid #0ba29a;" >应用工程师</td>
													<td style="text-align:center;border:2px solid #0ba29a;">Pune</td>
													<td style="text-align:center;border:2px solid #0ba29a;">411027</td>
													<td style="color:#0ba29a; text-align:center;border:2px solid #0ba29a;"><a style="color:#0ba29a;">View the details</a></td>
												</tr>
												<tr>
													<td style="text-align:center;border:2px solid #0ba29a;">技术员</td>
													<td style="text-align:center;border:2px solid #0ba29a;">Pune</td>
													<td style="text-align:center;border:2px solid #0ba29a;">411027</td>
													<td style="color:#0ba29a;text-align:center;border:2px solid #0ba29a;"><a style="color:#0ba29a;">View the details</a></td>
												</tr>
											</tbody>
										</table>
										<caption>以上职位有意者请将简历发送至email：guanghai.zhu@lrmation.com （电子邮件的主题上注明“姓名+专业+应聘岗位）</caption>

										
							        </div>
				</div>
					
				<div class="row clearfix">
					<div class="col-md-12 column " style="background-color:#0ba29a;height:160px;margin-top:36px;color:#fff;">
					<h5 class="text-center"style="margin-top:60px;">Copyright ：Suzhou hengyi Automation Co., Ltd.</h5>
					<h5 class="text-center">Address: Suzhou city Wujiang District cloud pear road 699 No. 7  phone：025-66091685   fax：025-66091685</h5>			<h5 class="text-center"style="">Su ICP is prepared for No. 17058586 -1</h5>
					</div>
				</div>
			</div>
</body>
</html>