{template "content","header"}
				<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column" >
						<ul class="breadcrumb"style="background-color:#fff;padding-top:30px;" >
							<li>
								  Current position: <a href="javascript:history.go(-1)">Return</a>   
							</li>
							
							<li class="active">
								{$CATEGORYS[$catid][catname]}
							</li>
						</ul>
						
						
						
						<hr style="height:1px;border:none;border-top:1px dashed #0ba29a;" />
					</div>
					<div class="row clearfix">
						<div class="col-md-3 column">
							<div class="col-md-12 column">
								<ul class="list-group">
								  
									<li class="list-group-item" style="border:none;font-family:微软雅黑;font-size:16px;margin-bottom:-20px;margin-top:30px;"><a style="color:#0ba29a;"style="color:#000;"  href="javascript:;">{$CATEGORYS[$catid]['catname']}</a></li>
									<li style="border:none;border:1px dashed #0ba29a;width:120px;margin-left:0px; list-style:none; ">&nbsp;</li>
								 
									
								</ul>
							</div>
							<div class="col-md-12 column" style="margin-top:50px;">
							 <p>
									Suzhou hengyi Automation Co., Ltd.
								</p>
								<p>
									Address: Suzhou city Wujiang District cloud pear road 699 Building No. 7
								</p>
								<p>
									phone：025-66091685
								</p>
								<p>
									fax：025-66091685
								</p>
								<p>
									Contact: Mr. Zhu  18512515806
								</p>
								<p>
									email：guanghai.zhu@lrmation.com 

								</p>
								<p>
									Website：http://www.lrmation.com
 

								</p>
							</div>
						</div>
						<div class="col-md-9 column" style="margin-top:50px;">
										
										<table class="table table-bordered"  style="border:2px solid #0ba29a;" >
											
											<thead>
												<tr style="background-color:#0ba29a;color:#fff;border:2px solid #0ba29a;">
													<th style="text-align:center;border:2px solid #0ba29a;">招聘职位</th>
													<th style="text-align:center;border:2px solid #0ba29a;">招聘人数</th>
													<th style="text-align:center;border:2px solid #0ba29a;">工作地点</th>
													<th style="text-align:center;border:2px solid #0ba29a;">职位介绍</th>
												</tr>
											</thead>
											<tbody>
											{pc:content action="lists" catid="$catid" order="id" num="" cache="3600"}
											{loop $data $r}
											
											<tr>
													<td class="mycal" style="text-align:center;border:2px solid #0ba29a;">{$r[zwzp]}</td>
													<td style="text-align:center;border:2px solid #0ba29a;">{$r[zprs]}</td>
													<td style="text-align:center;border:2px solid #0ba29a;">{$r[gzdd]}</td>
													<td style="color:#0ba29a;text-align:center;border:2px solid #0ba29a;"><a style="color:#0ba29a;"><a href="{$r[url]}" style="color:#0ba29a;text-align:center;">View the details</a></td>
											</tr>
											{/loop}
											{/pc} 
											</tbody>
											
										</table>
										<caption>以上职位有意者请将简历发送至email：guanghai.zhu@lrmation.com （电子邮件的主题上注明“姓名+专业+应聘岗位）</caption>

										
							        </div>
					</div>
					
               </div>
					
				{template "content","footer"}