{template "content","header"} 
				<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column" >
						<ul class="breadcrumb"style="background-color:#fff;padding-top:30px;" >
							<li>
								  Current position: <a href="javascript:history.go(-1)">Return</a> 
							</li>
							
							<li class="active">
								{$CATEGORYS[$catid][catname]}
							</li>
						</ul>
						
						
						
						<hr style="height:1px;border:none;border-top:1px dashed #0ba29a;" />
					</div>
					<div class="row clearfix">
						<div class="col-md-3 column">
							<div class="col-md-12 column">
								<ul class="list-group">
								  
									<li class="list-group-item" style="border:none;font-family:微软雅黑;font-size:16px;margin-bottom:-20px;margin-top:30px;"><a style="color:#0ba29a;"style="color:#000;"  href="javascript:;">{$CATEGORYS[$catid]['catname']}</a></li>
									<li style="border:none;border:1px dashed #0ba29a;width:120px;margin-left:0px; list-style:none; ">&nbsp;</li>
								 
									
								</ul>
							</div>
							<div class="col-md-12 column" style="margin-top:50px;">
							 <p>
									Suzhou hengyi Automation Co., Ltd.
								</p>
								<p>
									Address: Suzhou city Wujiang District cloud pear road 699 Building No. 7
								</p>
								<p>
									phone：025-66091685
								</p>
								<p>
									fax ：025-66091685
								</p>
								<p>
									Contact: Mr. Zhu  18512515806
								</p>
								<p>
									email：guanghai.zhu@lrmation.com 

								</p>
								<p>
									Website：http://www.lrmation.com
 

								</p>
							</div>
						</div>
						
						<div class="col-md-9 column" style="margin-top:50px;"><h3 style="text-align:center;">{$title}</h3><br />
{$content}
<br />

<span style="font-size:13px;"> 发布日期：{date('Y-m-d',$r[inputtime])} &nbsp;浏览量：</span><span style="font-size:13px;" id="hits"></span><br /><br /><br />
 </div>
 <br /> <br /> <br /> <br /> <br /> <br />
			<p>
                 &nbsp; &nbsp;<strong>上一篇：</strong><a href="{$previous_page[url]}">{$previous_page[title]}</a><br />
                 &nbsp; &nbsp;<strong>下一篇：</strong><a href="{$next_page[url]}">{$next_page[title]}</a>
            </p>
					</div>
					
               </div>
					
				<div class="row clearfix">
					<div class="col-md-12 column " style="background-color:#0ba29a;height:160px;margin-top:36px;color:#fff;">
					<h5 class="text-center"style="margin-top:60px;">Copyright ：Suzhou hengyi Automation Co., Ltd.</h5>
					<h5 class="text-center">Address: Suzhou city Wujiang District cloud pear road 699 No. 7  phone：025-66091685   fax：025-66091685</h5>			<h5 class="text-center"style="">Su ICP is prepared for No. 17058586 -1</h5>
					</div>
				</div>
			</div>
			
			
			
			
			
			
			
<script type="text/javascript">
<!--
	function show_ajax(obj) {
		var keywords = $(obj).text();
		var offset = $(obj).offset();
		var jsonitem = '';
		$.getJSON("{APP_PATH}index.php?m=content&c=index&a=json_list&type=keyword&modelid={$modelid}&id={$id}&keywords="+encodeURIComponent(keywords),
				function(data){
				var j = 1;
				var string = "<div class='point key-float'><div style='position:relative'><div class='arro'></div>";
				string += "<a href='JavaScript:;' onclick='$(this).parent().parent().remove();' hidefocus='true' class='close'><span>关闭</span></a><div class='contents f12'>";
				if(data!=0) {
				  $.each(data, function(i,item){
					j = i+1;
					jsonitem += "<a href='"+item.url+"' target='_blank'>"+j+"、"+item.title+"</a><BR>";
					
				  });
					string += jsonitem;
				} else {
					string += '没有找到相关的信息！';
				}
					string += "</div><span class='o1'></span><span class='o2'></span><span class='o3'></span><span class='o4'></span></div></div>";		
					$(obj).after(string);
					$('.key-float').mouseover(
						function (){
							$(this).siblings().css({"z-index":0})
							$(this).css({"z-index":1001});
						}
					)
					$(obj).next().css({ "left": +offset.left-100, "top": +offset.top+$(obj).height()+12});
				});
	}

	function add_favorite(title) {
		$.getJSON('{APP_PATH}api.php?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
			if(data.status==1)	{
				$("#favorite").html('收藏成功');
			} else {
				alert('请登录');
			}
		});
	}

$(function(){
  $('#Article .content img').LoadImage(true, 660, 660,'{IMG_PATH}s_nopic.gif');    
})
//-->
</script>			
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script> 			
			
			
</body>
</html>