{template "content","header"}
				<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column" >
						<ul class="breadcrumb"style="background-color:#fff;padding-top:30px;" >
							<li>
								  Current position: <a href="javascript:history.go(-1)">Return</a>   
							</li>
							
							<li class="active">
								{$CATEGORYS[$catid][catname]}
							</li>
						</ul>
						
						
						
						<hr style="height:1px;border:none;border-top:1px dashed #0ba29a;" />
					</div>
					<div class="row clearfix">
						<div class="col-md-3 column">
							<div class="col-md-12 column">
								<ul class="list-group">
								  
									<li class="list-group-item" style="border:none;font-family:微软雅黑;font-size:16px;margin-bottom:-20px;margin-top:30px;"><a style="color:#0ba29a;"style="color:#000;"  href="javascript:;">{$CATEGORYS[$catid]['catname']}</a></li>
									<li style="border:none;border:1px dashed #0ba29a;width:120px;margin-left:0px; list-style:none; ">&nbsp;</li>
								 
									
								</ul>
							</div>
							<div class="col-md-12 column" style="margin-top:50px;">
							 <p>
									Suzhou hengyi Automation Co., Ltd.
								</p>
								<p>
									Address: Suzhou city Wujiang District cloud pear road 699 Building No. 7
								</p>
								<p>5593
									phone：025-66091685
								</p>
								<p>
									fax：025-66091685
								</p>
								<p>
									Contact: Mr. Zhu  18512515806
								</p>
								<p>
									email：guanghai.zhu@lrmation.com 

								</p>
								<p>
									Website：http://www.lrmation.com
 

								</p>
							</div>
						</div>
						<div class="col-md-9 column" style="margin-top:50px;">
										
										
										<center><b>{$title}</b></center>
										<center><hr  style="color:#0ba29a;border:1px solid #0ba29a; width:200px;"/></center>
										<div class="col-md-6 column"> <b>职位描述：</b><br />
										{$content}
										</div>
										<div class="col-md-6 column"> <b>职位要求：</b><br />
										{$zwyq}
										</div>
										
        </div>
					</div>
					
               </div>
					
				{template "content","footer"}