{template "content","header"}
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="row clearfix">
							<div class="col-md-6 column">
								<div class="row clearfix">
									<div class="col-md-12 column">
										<div class="page-header" style="color:#0ba29a;font-family:微软雅黑;">
											<h3 style="border-bottom:1px solid #ddd; font-family:微软雅黑;">
												推荐产品 <br /><br />
											</h3>
										</div>
										{pc:content action="position" posid="18" order="id" num="3" cache="3600"}
										{loop $data $r} 
										<div class="media" style="margin-bottom:-20px;">
											 <a href="{$r[url]}" class="pull-left" ><img src="{thumb($r['thumb'],137,0)}" class="media-object"style="height:100px;width:136px;" alt='' /></a>
											<div class="media-body">
												<h5 class="media-heading" style="float:left;padding-top:50px;padding-left:20px;font-family:微软雅黑;" >
													{$CATEGORYS[$r[catid]]['catname']}
												</h5> 
												<h5 class="media-heading" style="float:left;padding-top:50px;padding-left:20px; font-family:微软雅黑;" >
													{$r[title]}
												</h5  style="float:left;padding-top:50px;" > 
												   <p style="float:right;padding-top:50px;padding-left:20px;"><a style="color:#0ba29a;" href="{$CATEGORYS[$r[catid]]['url']}"> 更多+</a></p>
											</div>
											
											
										</div>
										<hr style="height:1px;border:none;border-top:2px dashed #0ba29a;" /> 
										{/loop}
										{/pc}
										
										
									</div>
								</div>
							</div>
							<div class="col-md-6 column">
								<div class="row clearfix">
									<div class="col-md-12 column">
									<div class="page-header" style="color:#0ba29a;font-family:微软雅黑;">
											<h3 style="border-bottom:1px solid #ddd; font-family:微软雅黑;">
												关于峘一<br /><br />
											</h3>
									</div>
										<div class="row clearfix">
											
											<div class="col-md-5 column" style="color:#555;font-family:宋体; font-weight:500; font-size:13.5px;">
												<p>
													苏州峘一自动化有限公司是一家集研发、设计与系统集成为一体的高新技术公司，主营业务为智能制造，为客户
													提供可靠的自动化单机、生产线和可靠的检测设备。我们的宗旨是急客户所急，想客户所想。通过了解客户真实需求，
													设计最合理满意的方案，给客户生产制造高效、稳定、方便维护的设备，提供卓越的自动化设备及工艺解决方案，提高客户产品质量。
												</p>
											</div>
											<div class="col-md-7 column">
												<img  src="{IMG_PATH}about.png"  style="width:340px;height:258px;"/>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
					<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="row clearfix">
							<div class="col-md-6 column">
								
								<div class="row clearfix">
									<div class="col-md-12 column">
										<div class="page-header" style="color:#0ba29a;font-family:微软雅黑;">
											<h4>
												最新公告
											</h4>
										</div>
										
										{pc:announce  action="lists" siteid="$siteid" num="3"}
										 
										   {loop $data $r}
											 <p> <a href="{APP_PATH}index.php?m=announce&c=index&a=show&aid={$r['aid']}">{$r['title']}</a></p>.
											 	<hr style="height:1px;border:none;border-top:1px dashed #0ba29a;" />
										   {/loop}
										 
										{/pc}
											
										
									</div>
								</div>
							</div>
							<div class="col-md-6 column">
								
								<div class="row clearfix">
									<div class="col-md-12 column">
										<div class="page-header" style="color:#0ba29a;font-family:微软雅黑;">
											<h4>
												联系我们
											</h4>
									    </div>
										<div class="row clearfix">
											<div class="col-md-7 column" style="padding-right:0px;">
												<p style="line-height:12px;">苏州峘一自动化有限公司</p>
												<p style="line-height:12px;">地址：苏州市吴江区云梨路699号7栋</p>
												<p style="line-height:12px;">电话：025-66091685  传真 ：025-66091685</p>
												
											</div>
											<div class="col-md-5 column" style="padding:0px;">
													<p style="line-height:12px;">
														联系人 ：朱先生  18512515806
													</p>
													<p style="line-height:12px;">
														邮箱：guanghai.zhu@lrmation.com
													</p>
													<p style="line-height:12px;">
														网址：http://www.lrmation.com
                                                     </p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
{template "content","footer"}				