{template "content","header"}
				<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column" >
						<ul class="breadcrumb"style="background-color:#fff;padding-top:30px;" >
							<li>
								  当前位置： <a href="javascript:history.go(-1)">返回</a>   
							</li>
							
							<li class="active">
								{$CATEGORYS[$catid][catname]}
							</li>
						</ul>
						
						
						
						<hr style="height:1px;border:none;border-top:1px dashed #0ba29a;" />
					</div>
					<div class="row clearfix">
						<div class="col-md-3 column">
							<div class="col-md-12 column">
								<ul class="list-group">
								  
									<li class="list-group-item" style="border:none;font-family:微软雅黑;font-size:16px;margin-bottom:-20px;margin-top:30px;"><a style="color:#0ba29a;"style="color:#000;"  href="javascript:;">{$CATEGORYS[$catid]['catname']}</a></li>
									<li style="border:none;border:1px dashed #0ba29a;width:120px;margin-left:0px; list-style:none; ">&nbsp;</li>
								 
									
								</ul>
							</div>
							<div class="col-md-12 column" style="margin-top:50px;">
							 <p>
									苏州峘一自动化有限公司
								</p>
								<p>
									地址：苏州市吴江区云梨路699号7栋
								</p>
								<p>
									电话：025-66091685
								</p>
								<p>
									传真 ：025-66091685
								</p>
								<p>
									联系人 ：朱先生  18512515806
								</p>
								<p>
									邮箱：guanghai.zhu@lrmation.com 

								</p>
								<p>
									网址：http://www.lrmation.com
 

								</p>
							</div>
						</div>
						<div class="col-md-9 column" style="margin-top:50px;">
										
										<div class="media" style="margin-bottom:-20px;">
											 <a href="#" class="pull-left" >
											 <img src="{IMG_PATH}pro.png" class="media-object"style="height:100px;width:136px;" alt='' /></a>
											<div class="media-body" >
												<p class="media-heading" style="float:left;padding-top:50px;padding-left:20px;font-family:微软雅黑;font-size:16px;" >
													施耐德电气面向工业领域的Eco Struxure 让工业实现物联
												</p> 
												 
												   <p style="float:right;padding-top:80px;padding-right:50px;color:#0ba29a;"> 阅读全文</p>
											</div>
											
											
										</div>
										<hr style="height:1px;border:none;border-top:1px dashed #0ba29a;" />
										<div class="media" style="margin-bottom:-20px;">
											 <a href="#" class="pull-left" >
											 <img src="{IMG_PATH}pro.png" class="media-object"style="height:100px;width:136px;" alt='' /></a>
											<div class="media-body" >
												<p class="media-heading" style="float:left;padding-top:50px;padding-left:20px;font-family:微软雅黑;font-size:16px;" >
													从2017世界机器人大会怎么看产业的发展
												</p> 
												 
												   <p style="float:right;padding-top:80px;padding-right:50px;color:#0ba29a;"> 阅读全文</p>
											</div>
											
											
										</div>
										<hr style="height:1px;border:none;border-top:1px dashed #0ba29a;" />
										<div class="media" style="margin-bottom:-20px;">
											 <a href="#" class="pull-left" >
											 <img src="{IMG_PATH}pro.png" class="media-object"style="height:100px;width:136px;" alt='' /></a>
											<div class="media-body" >
												<p class="media-heading" style="float:left;padding-top:50px;padding-left:20px;font-family:微软雅黑;font-size:16px;" >
													从数字化制造到数字化价值发掘，西门子构建未来制造新生态
												</p> 
												 
												   <p style="float:right;padding-top:80px;padding-right:50px;color:#0ba29a;"> 阅读全文</p>
											</div>
											
											
										</div>
										<hr style="height:1px;border:none;border-top:1px dashed #0ba29a;" />
										<div class="col-md-9 column" style="text-align:center;" >
										<ul class="pagination" >
											<li><a href="#">&raquo;</a></li>
											<li class="active" ><a href="#" style="background-color:#0ba29a;border:1px dashed #0ba29a;">1</a></li>
											<li class="disabled"><a href="#">2</a></li>
											
											<li><a href="#">&raquo;</a></li>
										</ul>
										</div>
										
							        </div>
					</div>
					
               </div>
					
				{template "content","footer"}